body, html {
  color: black;
  background-color: lightblue;
  line-height: 1.8;
}
.content p {
  display: block;
  letter-spacing: 0.137em;
  margin-left: 50px;
  margin-right: 50px;
  color: black;
  text-rendering: optimizeLegibility;
  padding: 0;
}

.content {
  align-items: center;
}
