body{
	background-color: #faefcd;

}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #ffffff00;
}

li {
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
}

li a:hover {
  background-color: lightgrey;
}

.mapouter {
	padding-right: 100px;

	position: relative;
	text-align: right;
	height: auto;
	width: 100%;
}

.gmap_canvas {
	overflow: hidden;
	background: none !important;
	height: 100%;
	width: 100%;
}

/* resizes the logo */
logo{
	width: 100%;
	height: auto;
}

h2{
	float: top;
}

/*   width="100%" height="900" marginheight="0" marginwidth="0" frameborder="0"  */

/* map */
/* img{
	padding: 10px;
	border-radius: 5px;
	max-width: 100%;
	height: auto;

} */
/* center stuff */
.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/* Creates a banner */
.banner{
	margin: 0px auto;
	padding: 0;
	height: 10%;
	width: 100%;
	overflow: hidden;
	border: solid;
	background-color: white;
	border-color: black;
	border-width: 0px 0px 3px 0px;
	text-align: center;
	line-height: 95px;
}

/* centers the home tag */
.home{
	position: absolute;
	top: 10px;
	left: 16px;
}

/* places the sign up/log in feture */
.login{
	position: absolute;
	top: 10px;
	right: 16px;
}

.signup{
	position: absolute;
	top: 8px;
	right: 80px;
}

/* creates the parameters of the image */
.square {
    float:left;
    position: relative;
    width: 30%;
    padding-bottom : 30%; /* = width for a 1:1 aspect ratio */
    margin:1.66%;
    background-color:#1E1E1E;
    overflow:hidden;
}

/* creates the parameters for the content in that sqiare*/
.content {
    position:absolute;
    height:90%; /* = 100% - 2*5% padding */
    width:90%; /* = 100% - 2*5% padding */
    padding: 5%;
    background-color: white;

}

/*creates the parameters and look of the table*/
table {

	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 100%;
}

td, th {
	border: 1px solid #dddddd;
	text-align: left;
	padding: 8px;
}

tr:nth-child(even) {
	background-color: #dddddd;
}

ul {
    margin: 20px;
}

.input-color {
    position: relative;
}
.input-color p {
    padding-left: 20px;
		/* background-color: yellow; */
}
.input-color .color-box {
    width: 10px;
    height: 10px;
    display: inline-block;
    background-color: #ccc;
    position: absolute;
    left: 5px;
    top: 5px;
}
